
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Touch Flow</title>
</head>
<body>
    <form action="192.168.2.56:3000/user/reset-password?code=<%= code %>">
    
        <input type="text" name="password">
        <input type="text" name="password-repeate">

        <button onclick="checkPassword()" type="button">Speichern</button>
        <button id="submit"></button>
    
    </form>

    <script>

        function checkPassword() {
            const password = document.querySelector('input[name="password"]').value;
            const passwordRepeate = document.querySelector('input[name="password-repeate"]').value;

            if (password !== passwordRepeate) {
                alert('Passwörter stimmen nicht überein');
                return;
            }

            document.getElementById('submit').click();
        
        }
    </script>
</body>
</html>